/* Alapstílusok */
:root{
    --main-color: #abf0ff;
    --secondary-color: #c6fbff;
    --mid-color: #99c4ce;
    --light-gray: #6b8e8f;
    --gray: #384949;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--main-color);
    color: var(--gray);
}

nav {
    background-color: var(--secondary-color);
    color: var(--gray-);
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 2;
}

.navbar {
    pointer-events: auto;

    max-width: 1500px;
    margin: 0 auto;
    padding: 0 24px;

    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--gray) !important;
    background: rgba(198, 251, 255, 0.85);
    border-radius: 16px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.22);

    backdrop-filter: blur(8px); /* opcionális, modern hatás */

    color: var(--main-color);
}

.navbar-wrapper {
    position: fixed;        /* lebeg */
    top: 15px;
    width: 100%;
    z-index: 100;
    pointer-events: none;   /* csak a navbar legyen kattintható */
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

/* A menü listája */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a {
    color: var(--gray-);
    text-decoration: none;
    transition: color 0.3s;
    position: relative;
}

.nav-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background: var(--main-color);
    transition: width .3s;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links a:hover {
    color: var(--secondary-color);
}

/* A Checkbox Hack lelke: rejtett checkbox */
#nav-check {
    display: none;
}

/* Hamburger ikon konténer (alapértelmezetten rejtve) */
.nav-btn {
    display: none;
}

/* Reszponzív beállítások mobilszámára */
@media (max-width: 768px) {
    .nav-btn {
        display: inline-block;
        cursor: pointer;
    }

    /* Hamburger ikon rajzolása CSS-szel */
    .nav-btn label {
        display: inline-block;
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    .nav-btn label span {
        display: block;
        width: 25px;
        height: 3px;
        background-color: var(--gray-);
        margin: 5px 0;
        transition: 0.3s;
    }

    /* A menü listájának átalakítása mobil nézetre */
    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;

        width: 100%;
        max-width: 1100px;
        margin: 0 auto;

        background-color: var(--secondary-color);
        border-radius: 0 0 16px 16px;

        box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    }

    .nav-links li {
        width: 100%;
        padding: 15px 20px;
        border-top: 1px solid #444;
    }

    /* Amikor a checkbox be van pipálva (le van nyitva a menü) */
    #nav-check:checked ~ .nav-links {
        height: calc(100vh - 60px);
        overflow-y: auto;
    }

    /* Opcionális: Hamburger ikon animálása (X alak) */
    #nav-check:checked ~ .nav-btn label span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    #nav-check:checked ~ .nav-btn label span:nth-child(2) {
        opacity: 0;
    }
    #nav-check:checked ~ .nav-btn label span:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}


 /* -----------------------Grid-------------------------- */

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    transition: all 0.4s ease;
}

.grid-container .card:hover {
    filter: brightness(1);
    opacity: 1;
    transform: scale(1.01);
    z-index: 2;
}

.main-container {
    padding-top: 100px;
}

.landing_images{
    max-width: 35%;
    border: var(--gray) 3px solid;
    border-radius: 50%;
    transition: transform 0.4s ease;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.card:hover .landing_images {
    transform: scale(1.05);
}

/* .card::before {
    content: "";
    position: absolute;
    inset: -12px;

    border-radius: 50%;

    background: conic-gradient(
        from 0deg,
        #38bdf8,
        #22c55e,
        #eab308,
        #38bdf8
    );

    animation: spin 6s linear infinite;

    filter: blur(3px);
    opacity: 0.8;
    z-index: 0;
} */

/* .card::after {
    content: "";
    position: absolute;
    inset: 8px;
    background: var(--main-color);
    border-radius: 50%;
    z-index: 0;
} */

.landing_images::before {
    content: "";
    position: absolute;
    inset: -12px;

    border-radius: 50%;

    background: conic-gradient(
        from 0deg,
        #38bdf8,
        #22c55e,
        #eab308,
        #38bdf8
    );

    animation: spin 6s linear infinite;

    filter: blur(3px);
    opacity: 0.8;
    z-index: -1;
}

.landing_images::after {
    content: "";
    position: absolute;
    inset: 6px;

    background: var(--main-color);
    border-radius: 50%;
    z-index: -1;
}


@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

@media (min-width: 360px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto auto;
    }

    .landing_images{
        max-width: 65%;
    }
}

@media (min-width: 768px) {

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .landing_images{
        max-width: 90%;
    }
}

.card{
    text-align: center;
    position: relative;
    width: fit-content;
    margin: 0 auto;

    transition: 
        transform 0.4s ease,
        filter 0.4s ease,
        opacity 0.4s ease;
}


.buy-btn {
    margin-top: 12px;
    padding: 10px 22px;

    background: linear-gradient(135deg, var(--light-gray), var(--gray));
    color: var(--secondary-color);

    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.5px;

    border: none;
    border-radius: 999px;

    cursor: pointer;

    box-shadow:
        0 6px 18px rgba(56, 189, 248, 0.35);

    transition: all 0.25s ease;
}

.buy-btn:hover {
    transform: translateY(-2px);
    box-shadow:
        0 16px 40px rgba(0, 0, 0, 0.24);
}

.buy-btn:active {
    transform: translateY(0);
    box-shadow:
        0 16px 40px rgba(0, 0, 0, 0.24);
}



/* -----------------Grid vége------------------- */



/* --------------------Landing page----------------------- */



@property --num {
    syntax: '<integer>';
    initial-value: 0;
    inherits: false;
}

.csscounter {
    font-size: 3rem;
    font-weight: bold;
    font-family: sans-serif;
    animation: count 2s forwards cubic-bezier(0, 0, 0.2, 1);
    counter-reset: num var(--num);
    text-align: center;
    color: var(--gray);
}

.csscounter::after {
    content: counter(num);
}

@keyframes count {
    from {
        --num: 0;
    }

    to {
        --num: 777;
    }
}

.scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.scroll-down span {
    display: block;
    width: 18px;
    height: 18px;

    border-bottom: 3px solid var(--gray);
    border-right: 3px solid var(--gray);

    transform: rotate(45deg);
    margin: auto;

    animation: bounce 1.8s infinite;
    box-shadow: 0 0 12px rgba(255,255,255,.6);
}

.scroll-down.double span:nth-child(2) {
    margin-top: -6px;
    animation-delay: .3s;
}



@keyframes bounce {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-5px, -5px);
    }
    50% {
        opacity: 1;
        transform: rotate(45deg) translate(0, 0);
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(5px, 5px);
    }
}

html {
    scroll-behavior: smooth;
}


/* -------------------Landing page vége------------------------ */

/* -------------------Out Team section------------------------- */

.ourTeamSection{
    margin-top: 10%;
    text-align: center;
    font-size: 1rem;
}

.core-values-title {
    text-align: center;
    font-size: 2.2rem;
    font-weight: 700;
    margin-bottom: 40px;
    color: var(--gray);
}

.core-values {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;
}

.value-card {
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(10px);

    border-radius: 16px;
    padding: 24px;

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.08);

    transition: transform .25s ease, box-shadow .25s ease;
}

.value-card:hover {
    transform: translateY(-6px);
    box-shadow:
        0 16px 40px rgba(0, 0, 0, 0.12);
}

.value-card h3 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #0369a1;
}

.value-card p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #334155;
}


/* ===== POPUP ALAP ===== */

.popup {
    position: fixed;
    inset: 0;
    display: none;

    justify-content: center;
    align-items: center;

    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(6px);

    z-index: 999;
}

/* kattintás után jelenik meg */
.popup:target {
    display: flex;
}

/* tartalom doboz */
.popup-content {
    display: flex;
    gap: 40px;

    max-width: 900px;
    width: 90%;

    padding: 40px;
    border-radius: 24px;

    box-shadow: 0 30px 80px rgba(0,0,0,0.35);

    animation: popupIn 0.4s ease;
}

/* kép */
.popup-content img {
    width: 300px;
    border-radius: 16px;
}

/* szöveg */
.popup-text h2 {
    font-size: 2rem;
    margin-bottom: 16px;
}

.popup-text p {
    font-size: 1.05rem;
    line-height: 1.6;
}

/* bezáró gomb */
.popup-close {
    position: absolute;
    top: 30px;
    right: 40px;

    font-size: 2.5rem;
    text-decoration: none;
    color: white;
}

/* animáció */
@keyframes popupIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.popup-blue .popup-content {
    background: linear-gradient(135deg, #dbeafe, #bfdbfe);
}

.popup-green .popup-content {
    background: linear-gradient(135deg, #dcfce7, #bbf7d0);
}

.popup-orange .popup-content {
    background: linear-gradient(135deg, #ffedd5, #fed7aa);
}

